<div class="registration-container">
  <%= form_with(url: register_path, scope: :user, method: :post, class:"registration-form") do |form| %>
    <h1 class="registration-form-titulo">Crear Cuenta</h1>
    <%= form.text_field :first_name, class:"registration-form-input", 
                                    placeholder: "First Name", required: true, autocomplete: 'off' %>
    <%= form.text_field :last_name, class:"registration-form-input", 
                                    placeholder: "Last Name", required: true, autocomplete: 'off' %>
    <%= form.email_field :email, class:"registration-form-input", 
                                    placeholder: "Email", required: true, autocomplete: 'off' %>
    <%= form.password_field :password, class:"registration-form-input", 
                                    placeholder: "Password",minlength: 8, required: true , autocomplete: 'off' %>
    <%= form.password_field :password_confirmation, class:"registration-form-input", 
                                    placeholder: "Password Confirmation",minlength: 8, required: true, autocomplete: 'off' %>
    <%= form.submit "Registrarse", class:"registration-form-button" %>
  <% end %> 
</div>