<div class="edit-reset-password-container">
    <%= form_for @user, :url => password_reset_path(@token), :html => {:method => :put, class:"edit-reset-password-form"} do |f| %>
      <h2 class="edit-reset-password-form-titulo">Reestablecer Contraseña</h2>
      <p class="edit-reset-password-form-titulo"> Usuario: <%= @user.email %> </p>
      <%= f.password_field :password, class:"edit-reset-password-form-input", 
                                    placeholder: "Password",minlength: 8, required: true, autocomplete: 'off'  %>
      <%= f.password_field :password_confirmation, class:"edit-reset-password-form-input", 
                                    placeholder: "Password Confirmation",minlength: 8, required: true, autocomplete: 'off'  %>
      <%= f.submit "Actualizar", class:"edit-reset-password-form-button" %>
    <% end %>
</div>