<div class="new-reset-password-container">
  <%= form_with(url: password_resets_path, local: true, method: :post, class:"new-reset-password-form") do |form| %>
    <h1 class="new-reset-password-form-titulo">Restablecer Contraseña</h1>
    <%= form.email_field :email, class:"new-reset-password-form-input", 
                                  placeholder: "Email", required: true, autocomplete: 'off' %>
    <%= form.submit "Reset my password!", class:"new-reset-password-form-button", style:"width: 50%;" %>
  <% end %> 
</div>