<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello, <%= @user.email %></h2>
    <p>===============================================</p>
    <p>
    You have requested to reset your password.
    To choose a new password, just follow this link:
    </p>
    <a href=<%= @url %>>Enlace</a>

    <p>Have a great day!</p>
  </body>
</html>