<div id="admin_container">
  <h1 class="title_admin" style="text-align: center; padding: 15px;">Contenido del Acompañamiento de Cursada</h1>
  <br/>
  <div class="card text-center admin_card">
    <div class="card-body">
      <strong>Titulo:</strong>
      <h5 class="card-title"><%= cursada_content.title %></h5>
      <strong>Descripción:</strong>
      <p class="card-text"><%= raw cursada_content.description %></p>
      <strong>Texto:</strong>
      <h5 class="card-title"><%= raw cursada_content.text %></h5>
      <%= link_to "Editar",
        edit_cursada_cursada_content_path(cursada_content.cursada, cursada_content),
        class: "btn btn-success" %>
      <%= button_to "Eliminar",
      cursada_cursada_content_path(cursada_content.cursada, cursada_content), method: :delete, data:
      {turbo_method: :delete, turbo_confirm: '¿Estas segura/o que queres
      eliminar este contenido?'}, class:"btn btn-danger" %>
    </div>
  </div>
  <br />
</div>
