<tr class="table-row">
  <td class="table-data" data-label="Email"><%= user.email%></td>
  <%= form_with(url: user_path(user.id), scope: :user, method: :patch,
  data:{controller: "checkbox", "checkbox-id-value": user.id}) do |form| %>
    <td class="table-data" data-label="Cursada">
      <%= form.check_box :cursada,{checked: user.cursada, id:"cursada#{user.id}",
      onchange: 'this.form.submit();'}%>
    </td>
    <td class="table-data" data-label="Final">
      <%= form.check_box :final,{checked: user.final,id:"final#{user.id}",
      onchange: 'this.form.submit();'}%>
    </td>
  <% end %>
  <td class="table-data" data-label="Eliminar">
    <%= button_to "Eliminar", user_path(user), method: :delete, data:
    {turbo_method: :delete, turbo_confirm: '¿Estas segura/o que queres eliminar
    a este usuario?'} %>
  </td>
</tr>
