
<br>
<h1 class="title_admin" style="text-align: center; padding: 125px 15px 0px;">Panel de usuarios</h1>
<br>
<div id="link-users">
  <p class="link-users-p"><%= link_to "Productos Cursada", cursadas_path, class: "btn btn-warning mb-2", style: "margin: 5px;" %></p>
  <p class="link-users-p"><%= link_to "Productos Final", finals_path, class: "btn btn-warning mb-2", style: "margin: 5px;" %></p>
</div>
<div id="link-users">
  <%= form_with(url: users_path, method: :get) do |f| %>
    <%= f.hidden_field :cursada, value: 1%>
    <%= f.hidden_field :final, value: 0%>
    <%= f.submit 'Cursada', class: "btn btn-outline-dark mb-2 link-users-p", style: "margin: 5px;"%>
  <% end %>
  <%= form_with(url: users_path, method: :get) do |f| %>
    <%= f.hidden_field :cursada, value: 0%>
    <%= f.hidden_field :final, value: 1%>
    <%= f.submit 'Final', class: "btn btn-outline-dark mb-2 link-users-p", style: "margin: 5px;"%>
  <% end %>
  <%= form_with(url: users_path, method: :get) do |f| %>
    <%= f.hidden_field :cursada, value: 0%>
    <%= f.hidden_field :final, value: 0%>
    <%= f.submit 'Sin Producto', class: "btn btn-outline-dark mb-2 link-users-p", style: "margin: 5px;"%>
  <% end %>
  <%= form_with(url: users_path, method: :get) do |f| %>
    <%= f.hidden_field :reset, value: 1%>
    <%= f.submit 'Reset', class: "btn btn-outline-dark mb-2 link-users-p", style: "margin: 5px;"%>
  <% end %>
</div>
<table class="table-class">
  <thead class="table-thead">
    <th class="table-head">Email</th>
    <th class="table-head">Cursada</th>
    <th class="table-head">Final</th>
    <th class="table-head">Eliminar</th>
  </thead>
  <tbody class="table-body">
    <%= render partial: "user", collection: @users %>
  </tbody>
</table>