<!-- Footer -->
<div id="footer-wrapper">
  <div id="footer" class="container">
    <header class="major">
      <p>FisiologiabyValen</p>
    </header>
    <div class="row">
      <section class="col-12 col-12-narrower">
        <div class="row gtr-0">
          <ul class="divided icons col-12 col-12-mobile" style="text-align: center;">
            <li class="icon brands fa-instagram">
            <a href="https://www.instagram.com/fisiologiabyvalen" target="_blank">
              <i class="fa-brands fa-instagram fa-2xl"></i> Instagram
            </a>
            </li>
            <li class="icon brands fa-whatsapp">
              <a href="https://api.whatsapp.com/send?phone=5492216252514&text=Hola%20Valen!%20Me%20quiero%20sumar%20al%20curso%20de%20acompa%C3%B1amiento%20de%20cursada%2C%20me%20pasas%20el%20cbu%20o%20el%0Aalias%3F%20Gracias" target="_blank">
                <i class="fa-brands fa-whatsapp fa-2xl"></i> Whatsapp
              </a>
            </li>
            <li class="icon brands fa-instagram">
              <a href="https://www.tiktok.com/@fisiologiabyvalen" target="_blank">
                <i class="fa-brands fa-tiktok fa-2xl"></i> Tiktok
              </a>
            </li>
          </ul>
          <ul class="divided icons col-12 col-12-mobile" style="text-align: center;">
            <li class="icon brands">
              <p>Diseño, Desarrollo y Programador <a href="https://portfolio-gp7q0fyut-bottassijuanignacio.vercel.app/"> Juan Ignacio Bottassi</a></p>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>

</div>