<div id="header-wrapper">
  <div id="header" class="container menu-navbar">
    <h1 id="logo">
      <%= link_to 'Valen', root_path%>
    </h1>
    <nav id="nav">
      <ul class="navbar-list">
        <% if logged_in? %>
          <li><%= button_to 'Cerrar Sesión', logout_path, method: :post, class:"btn_as_link" %><li>
        <% else %>
          <li><%= button_to 'Iniciar Sesión', login_path, method: :get, class:"btn_as_link" %><li>
        <% end %>
        <% if current_user && current_user.role == "administrador" %>
          <li>
            <%= button_to "Admin", users_path, method: :get, class: "btn_as_link" %>
          </li>
        <% end %>
        <% if current_user && current_user.cursada == true %>
          <li>  
            <%= button_to "Cursada", product_cursadas_path, method: :get, class: "btn_as_link" %>
          </li>
        <% end %>
        <% if current_user && current_user.final == true %>
          <li>
            <%= button_to "Final", product_finals_path, method: :get, class: "btn_as_link" %>
          </li>
        <% end %>
        <li><%= button_to 'Acompañamiento de cursada', introcurso_path, method: :get, class:"btn_as_link" %></li>
        <li><%= button_to 'Curso de final', introfinal_path, method: :get, class:"btn_as_link" %></li>
        <li><%= button_to 'Sobre Mí', about_path, method: :get, class:"btn_as_link" %></li>
      </ul>
    </nav>
  </div>
</div>
