<!-- Sidebar -->
<section id="sidebar">
  <section>
    <% if params[:controller] == 'homes' && params[:action] == 'final' %>
      <header>
        <h3>Testimonios de Luisina</h3>
      </header>
      <%= image_tag("testimonio2.jpg", :alt => "testimonio2", class: "d-block w-100 testimonios-img") %>
    <% else %>
      <header>
        <h3>Testimonios de Trinidad</h3>
      </header>
      <%= image_tag("testimonio8.jpg", :alt => "testimonio8", class: "d-block w-100 testimonios-img") %>
    <% end %>
  </section>
  <section>
    <% if params[:controller] == 'homes' && params[:action] == 'final' %>
      <header>
        <h3>Testimonios de María</h3>
      </header>
      <%= image_tag("testimonio3.jpg", :alt => "testimonio3", class:"d-block w-100 testimonios-img") %>
    <% else %>
      <header>
        <h3>Testimonios de María</h3>
      </header>
      <%= image_tag("testimonio6.jpg", :alt => "testimonio6", class: "d-block w-100 testimonios-img") %>
    <% end %>
  </section>
  <section>
    <% if params[:controller] == 'homes' && params[:action] == 'final' %>
      <header>
        <h3>Testimonios de Gabriel</h3>
      </header>
      <%= image_tag("testimonio1.jpg", :alt => "testimonio1", class:"d-block w-100 testimonios-img") %>
    <% else %>
      <header>
        <h3>Testimonios de Pilar</h3>
      </header>
      <%= image_tag("testimonio7.jpg", :alt => "testimonio7", class: "d-block w-100 testimonios-img") %>
    <% end %>
  </section>
  <section>
    <% if params[:controller] == 'homes' && params[:action] == 'final' %>
      <header>
        <h3>Testimonios de Catalina</h3>
      </header>
      <%= image_tag("testimonio4.jpg", :alt => "testimonio4", class:"d-block w-100 testimonios-img") %>
    <% else %>
      <header>
        <h3>Testimonios de Santiago</h3>
      </header>
      <%= image_tag("testimonio5.jpg", :alt => "testimonio5", class: "d-block w-100 testimonios-img") %>
    <% end %>
  </section>
</section>