<div class="whatsapp-float">
  <a href="https://api.whatsapp.com/send?phone=5492216252514&text=Hola%20Valen!%20Quiero%20preparar%20el%20parcial%2Ffinal%20de%20fisio%20con%20vos." target="_blank">
    <i class="fab fa-whatsapp whatsapp-icon"></i>
  </a>
</div>