
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Main -->
				<div class="wrapper">
					<div class="container" id="main">

						<!-- Content -->
							<article id="content">
								<header>
									<h2>Valen Lorente</h2>
									<p>¿Quién soy?</p>
								</header>
								<p>Me llamo Valentina Lorente, tengo 23 años y estoy en el último año de la carrera de medicina en
                la universidad nacional de la plata. Enseñar es algo que me gusta desde que soy chica y siempre
                tuve facilidad para explicar las cosas, empecé dando clases particulares de matemática,
                química y biología hasta que entre en la facultad y pude participar como ayudante docente
                donde adquirí experiencia y formación pedagógica. Actualmente soy ayudante de 3 materias
                en la facultad y también soy profe en el curso de ingreso (no es joda que me gusta la docencia).
                </p>
								<p>Soy muy fan de medicina y les miento si les digo que fisiología es mi materia favorita, realmente
                no podría elegir una, pero si tengo que decir que es lo que más me gusta de fisio es que une los
                conceptos aprendidos en materias como anatomía, biología, bioquímica e histología para
                permitir entender los procesos normales de nuestro cuerpo. Sea cual sea el curso que hagas, mi
                objetivo va a ser que comprendas e integres realmente fisiología, que la ames (te lo prometo) y
                sobre todo, que te queden esos conceptos claves que te van a ayudar en el resto de la carrera.</p>
							</article>
              <article id="content">
								<header>
									<p>¿Para quién están dirigidas las clases?</p>
								</header>
								<p>Las clases están dirigidas para alumnos de MEDICINA de la Universidad Nacional de La Plata,
                pero si sos de otra carrera o universidad mándame por mensaje directo de instagram:</p>
                <ol>
                  <li>Carrera y universidad</li>
                  <li>El temario de tu cátedra</li>
                  <li>La bibliografía de donde te recomiendan leer</li>
                </ol>
								<p>Así evaluo si las clases te sirven o no.</p>
							</article>
            <div class="father" style="display: flex;">
              <div id="carousel-one" class="carousel slide" data-bs-ride="carousel" style="width: 35%; margin: 5px;">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carousel-one" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carousel-one" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carousel-one" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                  <%= image_tag("img-pinterest3.jpg", :alt => "img-pinterest3", class:"d-block w-100") %>
                </div>
                <div class="carousel-item">
                  <%= image_tag("img-pinterest2.jpg", :alt => "img-pinterest2", class:"d-block w-100") %>
                </div>
                <div class="carousel-item">
                  <%= image_tag("img-pinterest1.jpg", :alt => "img-pinterest1", class:"d-block w-100") %>
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-one" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-one" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div id="carousel-two" class="carousel slide" data-bs-ride="carousel" style="width: 35%; margin: 5px;">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carousel-two" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carousel-two" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carousel-two" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <%= image_tag("img-pinterest3.jpg", :alt => "img-pinterest3", class:"d-block w-100") %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag("img-pinterest2.jpg", :alt => "img-pinterest2", class:"d-block w-100") %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag("img-pinterest1.jpg", :alt => "img-pinterest1", class:"d-block w-100") %>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-two" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-two" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div id="carousel-three" class="carousel slide" data-bs-ride="carousel" style="width: 35%; margin: 5px;">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carousel-three" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carousel-three" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carousel-three" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <%= image_tag("img-pinterest1.jpg", :alt => "img-pinterest1", class:"d-block w-100") %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag("img-pinterest2.jpg", :alt => "img-pinterest2", class:"d-block w-100") %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag("img-pinterest3.jpg", :alt => "img-pinterest3", class:"d-block w-100") %>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-three" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-three" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <%= render partial: 'whatsapp'%>
            </div>
					</div>
				</div>
	</body>