
	<body class="left-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Main -->
				<div class="wrapper">
					<div class="container" id="main">
						<div class="row gtr-150">
							<div class="col-4 col-12-narrower">

              <%= render partial: 'sidebar'%>

							</div>
							<div class="col-8 col-12-narrower imp-narrower">

								<!-- Content -->
									<article id="content">
										<header>
											<h2>Curso de acompañamiento de cursada</h2>
											<p>Lleva la cursada de fisio al día para romperla en los parciales</p>
										</header>
										<div class="video-container">
                      <%= video_tag 'Curso anual.mp4', controls: true do %>
                        <%= 'Tu mensaje de error en caso de que el navegador no pueda reproducir el video' %>
                      <% end %>
                    </div>

                    
										<p>Consiste en dos clases por semana que duran un promedio de 2 horas donde vemos los temas
                    que ven en la facultad de forma adelantada, es decir, lo ven conmigo antes de verlo en la facu
                    con el objetivo de aumentar su participación en las clases y que lleguen regios al parcial </p>
										
                    <h3 class="h3-color">¿Cuándo se dicta el curso?</h3>
                    <p>De abril a noviembre mientras se cursa fisiología</p>
                    
                    <h3 class="h3-color">¿Qué incluye el curso?</h3>
                    <ol>
                      <li>Las clases en vivo y a sus respectivas grabaciones</li>
                      <li>PDF de todos los temas</li>
                      <li>Grupo de wsp y foro de classroom para consultas</li>
                    </ol>
                    
                    <h3 class="h3-color">¿Cómo se paga?</h3>
                    <p>Se paga por transferencia bancaria y es MENSUAL y se hace e/ 3 dias antes y 3
                    dias después del pago del mes anterior. El precio consúltalo por instagram o wsp</p>
                    
                    <h3 class="h3-color">¿Qué pasa si me sumo al curso cuando ya arranco?</h3>
                    <p>Vas a poder ponerte al dia igual porque
                    todas las clases quedan grabadas. Vas a tener que abonar el mes en el que te sumas y una
                    diferencia extra para acceder a lo dado anteriormente, pero el próximo mes solo pagas la
                    mensualidad sin lo extra</p>
                    
                    <h3 class="h3-color">¿El curso sirve para promocionar la materia?</h3>
                    <p> En cuanto al material que les ofrezco alcanza para
                    la promoción, pero va a depender de su capacidad de aprovecharlo y de integrar la materia</p>
                    
                    <h3 class="h3-color">¿Necesito leer del libro y ver los teóricos?</h3>
                    <p> El material está completo por lo que no lo necesitas,
                    pero siempre les voy a recomendar bibliografía y los teóricos de la catedra que son geniales.</p>
                    
                    <h3 class="h3-color">¿Resolvemos las preguntas de las guías?</h3>
                    <p>No puntualmente, pero les doy todo lo necesario para
                    que las resuelvan solos, y siempre en el grupo de wsp con los otros integrantes del curso se
                    ayudan.</p>

										<h3 class="h3-color">¿Hacemos clases de repaso pre parcial?</h3>
                    <p>Si, la modalidad adelantada del curso hace que
                    finalicemos antes de dar los temas comparados con la facultad, dejándonos tiempo para
                    repasar todos los temas antes de que rindan.</p>

                    <h3 class="h3-color">¿El material me va a alcanzar para rendir el final?</h3>
                    <p>Si, no vas a necesitar sumar nada para el final,
                    vas a tener toda la info que necesitas.</p>

										<section class="feature">
                      <ul class="actions">
                        <li>
                          <%= link_to 'Cronograma', download_pdf_curso_path, download: 'cronograma_acompañante_de_cursada.pdf', class: 'button btn_as_link_cronograma' %>
                        </li>
                      </ul>
										</section>
										<br>
									</article>
							</div>
						</div>
						<div>
							<section class="col-6 col-12-narrower feature" >
								<header>
									<h3>Cursada de final</h3>
								</header>
                <div class="image-wrapper first">
                  <%= link_to('introfinal', class: 'image featured') do %>
                    <%= image_tag 'flyer-final.jpeg', alt: '', class: 'img-final' %>
                  <% end %>
                </div>
								<ul class="actions">
									<li><a href="introfinal" class="button">Más Información</a></li>
								</ul>
							</section>
						</div>
            <%= render partial: 'whatsapp'%>
					</div>
				</div>
	</body>