
	<body class="right-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Main -->
				<div class="wrapper">
					<div class="container" id="main">
						<div class="row gtr-150">
							<div class="col-8 col-12-narrower">

								<!-- Content -->
									<article id="content">
										<header>
											<h1>Curso de final</h1>
											<p>Rendí el final de fisiología en 1 mes.</p>
										</header>
                    <div class="video-container">
                      <%= video_tag 'Curso final.mp4', controls: true do %>
                        <%= 'Tu mensaje de error en caso de que el navegador no pueda reproducir el video' %>
                      <% end %>
                    </div>
										
										<h2 class="h3-color", style= "margin: 10px 5px 5px 0px;">Descripción del curso.</h2>
										<p>El curso de final de fisiología incluye:</p>
                    <ol>
                      <li>PDF de todos los temas</li>
                      <li>Grupo de wsp y foro de classroom para consultas</li>
                      <li>Clases GRABADAS de la explicación de los temas desde cero</li>
                    </ol>

										<p>Estas clases siguen un cronograma que podes visualizar previamente, que está diseñado para
                    que prepares la materia en un mes. De todas formas, al material accedes por dos meses por si
                    necesitas más tiempo para estudiar y presentarte seguro/a.</p>

										<p>La idea es que, una vez que ves las clases teóricas, puedas repasar la materia viendo el bolillero.
                    Durante el mes de diciembre, febrero y marzo esas clases las vas a poder ver en vivo por zoom
                    (consultar cronograma y horarios por instagram). El resto de los meses del año vas a poder ver
                    estas clases pero grabadas. </p>

                    <section class="feature">
                      <ul class="actions">
                        <li>
                          <%= link_to 'Cronograma', download_pdf_final_path, download: 'cronograma_final.pdf', class: 'button btn_as_link_cronograma' %>
                        </li>
                      </ul>
										</section>
										<br>
									</article>

							</div>
							<div class="col-4 col-12-narrower">
                <%= render partial: 'sidebar'%>
							</div>
              
						</div>
						<div>
							<section class="col-6 col-12-narrower feature">
								<header>
									<h3>Curso de acompañamiento de cursada</h3>
								</header>
                <div class="image-wrapper first">
                  <%= link_to('introcurso', class: 'image featured-cursada') do %>
                    <%= image_tag 'flyer-cursada.jpeg', alt: '', class: 'img-cursada' %>
                  <% end %>
                </div>
								<ul class="actions">
									<li><a href="introcurso" class="button">Más Información</a></li>
								</ul>
							</section>
						</div>
            <%= render partial: 'whatsapp'%>
					</div>
				</div>
	</body>