
<body class="homepage is-preload">
	<div id="page-wrapper">

			<!-- Hero -->
			<section id="hero" class="container">
				<header>
					<h2>FisiologiabyValen
						<br />
						cursos de <a href="https://www.instagram.com/fisiologiabyvalen/">FISIOLOGÍA</a>
					</h2>
				</header>
				<ul class="actions">
					<li><a href="about" class="button-class">Sobre Mí</a></li>
				</ul>
			</section>

		</div>

		<!-- Features 1 -->
		<div class="wrapper">
			<div class="container">
				<div class="row">
					<section class="col-6 col-12-narrower feature">
						<div class="image-wrapper first">
							<a href="introcurso" class="image featured first"> <%= image_tag("flyer-cursada.jpeg", :alt => "cursada") %></a>
							
							</div>
						<header>
							<h2>Acompañamiento de<br />
								Cursada</h2>
						</header>
						<ul class="actions">
							<li><a href="introcurso" class="button-class">Más Información</a></li>
						</ul>
					</section>
					<section class="col-6 col-12-narrower feature">
						<div class="image-wrapper">
							<a href="introfinal" class="image featured"><%= image_tag("flyer-final.jpeg", :alt => "final") %></a>
						</div>
						<header>
							<h2>Curso de <br />
								Final</h2>
						</header>
						<ul class="actions">
							<li><a href="introfinal" class="button-class">Más Información</a></li>
						</ul>
					</section>
				</div>
			</div>
		</div>

		<!-- Features 2 -->
		<div class="wrapper">
			<section class="container">
				<header class="major">
					<h2>Contenido</h2>
				</header>
				<div class="row features">
					<section class="col-3 col-12-narrower feature">
						<div class="image-wrapper first">
							<a href="#" class="image featured"><%= image_tag("img01.jpg", :alt => "img01") %></a>
						</div>
					</section>
					<section class="col-3 col-12-narrower feature">
						<div class="image-wrapper">
							<a href="#" class="image featured"><%= image_tag("img02.jpg", :alt => "img02") %></a>
						</div>
					</section>
          <section class="col-3 col-12-narrower feature">
						<div class="image-wrapper">
							<a href="#" class="image featured"><%= image_tag("img05.jpg", :alt => "img05") %></a>
						</div>
					</section>
					<section class="col-3 col-12-narrower feature">
						<div class="image-wrapper">
							<a href="#" class="image featured"><%= image_tag("img03.jpg", :alt => "img03") %></a>
						</div>
					</section>
				</div>

        <div id="carousel-one" class="carousel slide" data-bs-ride="carousel" style="width: 35%; margin: auto;">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-one" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel-one" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel-one" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
            <%= image_tag("img01.jpg", :alt => "img01", class:"d-block w-100") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("img03.jpg", :alt => "img03.jpg", class:"d-block w-100") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("img05.jpg", :alt => "img05.jpg", class:"d-block w-100") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("img02.jpg", :alt => "img02.jpg", class:"d-block w-100") %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel-one" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel-one" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


				<ul class="actions major">
					<li><a href="#" class="button-class">Inicio</a></li>
				</ul>
			</section>
      <%= render partial: 'whatsapp'%>
		</div>
</body>