<div class="session-container">
  <%= form_with(url: login_path, method: :post, class:"session-form") do |form| %>
    <h1 class="session-form-titulo">Iniciar Sesion</h1>
    <%= form.email_field :email, class:"session-form-input", 
                                  placeholder: "Email", required: true, autocomplete: 'off' %>
    <%= form.password_field :password, class:"session-form-input", 
                                  placeholder: "Password",minlength: 8, required: true, autocomplete: 'off' %>
    <%= form.submit "Iniciar", class:"session-form-button" %>
    <%= link_to 'Forgot your password?' , new_password_reset_path, class:"session-form-forgot-password"%>
    <%= link_to "Don't have an account? Register!" , register_path, class:"session-form-forgot-password"%>
  <% end %> 
</div>