<div id="admin_container">
  <br />
  <div class="card text-center admin_card">
    <div class="card-body">
      <strong>Titulo:</strong>
      <h5 class="card-title"><%= final_content.title %></h5>
      <strong>Descripción:</strong>
      <p class="card-text"><%= raw final_content.description %></p>
      <strong>Texto:</strong>
      <h5 class="card-title"><%= raw final_content.text %></h5>
      <%= link_to "Editar",
        edit_final_final_content_path(final_content.final, final_content),
        class: "btn btn-success" %>
      <%= button_to "Eliminar",
      final_final_content_path(final_content.final, final_content), method: :delete, data:
      {turbo_method: :delete, turbo_confirm: '¿Estas segura/o que queres
      eliminar este contenido?'}, class:"btn btn-danger" %>
    </div>
  </div>
  <br />
</div>
