.edit-reset-password-container {
  background-color: #f2b69d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.edit-reset-password-form {
  width: 420px;
  height: 310px;
  background-color: #ff815a;
  box-shadow: 0px 5px 15px 2px #ff815a;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 50px;
}

.edit-reset-password-form-titulo {
  color: #3C3718;
  margin: 15px 0 10px 0;
  text-align: center;
}

.edit-reset-password-form-input {
  height: 40px;
  border-radius: 20px;
  padding: 0 15px;
  background: #f2b69d;
  outline: none;
  border: 2px solid #f2b69d;
  width: 320px;
  margin: 15px;
}

.edit-reset-password-form-input:focus  {
  border: 2px solid #3C3718;
}

.edit-reset-password-form-button {
  height: 40px;
  border-radius: 20px;
  padding: 0 15px;
  width: 150px;
  background-color: #3C3718;
  border: none;
  color: white;

}

.edit-reset-password-form-button:hover {
  background-color: white;
    color: #3C3718;
    cursor: pointer;
}