#admin_final_container{
  background: linear-gradient(90deg, rgba(255,176,206,1) 0%, rgba(247,157,169,1) 24%, rgba(240,140,137,1) 50%, rgba(240,140,137,1) 65%, rgba(255,176,206,1) 100%); ;
  height: 100%;
  .title_admin {
      width: 18rem;
      margin: auto;
      text-align: center;
  }
  .link_new_theme{
      display: flex;
      justify-content: center;
  }
  .admin_card{
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin: auto;
      background-color: #ffb0ce;
  }
  .subtitle{
      margin: auto;
      text-align: center;
      padding: 15px 0px;
  }
}
#admin_final_container{
    background-color: #ffc9cb;
    height: 100vh;
    .title_admin {
        width: 18rem;
        margin: auto;
        text-align: center;
    }
    .link_new_theme{
        display: flex;
        justify-content: center;
        margin: 5px;
        padding: 5px;
    }
    // Estilos para la tabla
    #final_table {
        width: 80%;
        margin: auto;
    }
    
    // Estilos para las celdas <th>
    th.pink-background {
        background-color: #f23d6d; // Color rosa para los th
    }
}

#admin_final_form{
  background-color: #ffb0ce;
  height: 100vh;
  .title_admin {
      width: 18rem;
      margin: 20px auto;
      text-align: center;
  }
  .div_card{
      width: 50%;
      margin: auto;
      text-align: center;
  }
}

#admin_form_content{
  background-color: #ffb0ce;
  height: 100%;
  width: 70%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .div_card{
      width: 60%;
      margin: auto;
      text-align: center;
      padding: 10px;
  }
}

#final_container{
  background: linear-gradient(90deg, rgba(255,176,206,1) 0%, rgba(247,157,169,1) 24%, rgba(240,140,137,1) 50%, rgba(240,140,137,1) 65%, rgba(255,176,206,1) 100%);
  height: 100%;
  .final_subtitle{
      margin: auto;
      text-align: center;
      padding: 15px 0px;
  }
  .div_card_container{
      background: linear-gradient(90deg, rgba(255,176,206,1) 0%, rgba(247,157,169,1) 24%, rgba(240,140,137,1) 50%, rgba(240,140,137,1) 65%, rgba(255,176,206,1) 100%); ;
  }
  .final_card{
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      width: max-content;
      margin: auto;
      background-color: #ffb0ce;
  }
  .div_card_children{
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      background-color: #ffb0ce;
      width: 60%;
      margin: auto;
      text-align: center;
      padding: 10px;
  }
}

@media screen and (min-width: 375px) {
  #admin_final_container .title_admin{
    padding-top: 120px;
  }

}

@media screen and (min-width: 1280px) {

  .admin_card{
    width: 90%;
    .card-text{
      iframe{
        width: 1100px;
        height: 700px;
      }
    }
  }

}

@media screen and (min-width: 1080px) and (max-width: 1279px) {

  .admin_card{
    width: 90%;
    .card-text{
      iframe{
        width: 950px;
        height: 563px;
      }
    }
  }

}

@media screen and (min-width: 736px) and (max-width: 1079px) {
  .admin_card{
    width: 90%;
    .card-text{
      iframe{
        width: 640px;
        height: 480px;
      }
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 735px) {

  .admin_card{
    width: 90%;
    .card-text{
      iframe{
        width: 405px;
        height: 255px;
      }
    }
  }

}

@media screen and (min-width: 375px ) and (max-width: 479px){

  .admin_card{
    width: 90%;
    .card-text{
      iframe{
        width: 325px;
        height: 183px;
      }
    }
  }

}
