.session-container {
  background-color: #f2b69d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.session-form {
  width: 420px;
  height: 480px;
  background-color: #ff815a;
  box-shadow: 0px 5px 15px 2px #ff815a;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 50px;
}

.session-form-titulo {
  color: #3C3718;
  margin: 30px 0 50px 0;
}

.session-form-input {
  height: 40px;
  border-radius: 20px;
  padding: 0 15px;
  background: #f2b69d;
  outline: none;
  border: 2px solid #f2b69d;
  width: 320px;
  margin: 15px;
}

.session-form-input:focus  {
  border: 2px solid #3C3718;
}

.session-form-button {
  height: 40px;
  border-radius: 20px;
  padding: 0 15px;
  width: 150px;
  background-color: #3C3718;
  border: none;
  color: white;
  margin-top: 40px;

}

.session-form-button:hover {
  background-color: white;
    color: #3C3718;
    cursor: pointer;
}

.session-form-forgot-password {
  margin-top: 30px;
  text-decoration: none;
  color: white;

}

.session-form-forgot-password:hover {
  color: #3C3718;
}