/* Estilos para dispositivos móviles */
@media screen and (max-width: 735px) {
  #nav{
    display: block;
  }
  .navbar-list{
    display: block;
    background-color: #f08c89;
    border: 1px white double;
    border-radius: 15px;
  }
}

@media screen and (max-width: 1080px) {
  #logo a {
    position: initial;
  }
}