.registration-container {
  background-color: #f2b69d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registration-form {
  width: 420px;
  height: 480px;
  background-color: #ff815a;
  box-shadow: 0px 5px 15px 2px #ff815a;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 50px;
}

.registration-form-titulo {
  color: #3C3718;
  margin: 30px 0 15px 0;
}

.registration-form-input {
  height: 40px;
  border-radius: 20px;
  padding: 0 15px;
  background: #f2b69d;
  outline: none;
  border: 2px solid #f2b69d;
  width: 320px;
  margin: 15px;
}

.registration-form-input:focus {
  border: 2px solid #3C3718;
}

.registration-form-button {
  height: 40px;
  border-radius: 20px;
  padding: 0 15px;
  width: 150px;
  background-color: #3C3718;
  border: none;
  color: white;
  margin: 20px;

}

.registration-form-button:hover {
  background-color: white;
  color: #3C3718;
  cursor: pointer;
}