
.table-class {
  width: 100%;
  border-collapse: collapse;
}

.table-data,
.table-head{
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table-head{
  background-color: #ff815a;
  color: #ffffff;
}

.table-body .table-row:nth-child(even) {
  background-color: #ffdbcc;
}

#link-users{
  display: flex;
  justify-content: center;
}

#link-users.link-users-p{
  margin: 5px;
  padding: 5px;
}

@media (max-width: 500px) {
  .table-thead{
    display: none;
  }

  .table-class,
  .table-body,
  .table-row,
  .table-data{
    display: block;
    width: 100%;
  }
  .table-row{
    margin-bottom: 15px;
  }
  .table-data{
    padding-left: 50%;
    text-align: left;
    position: relative;
  }
  .table-data::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}