<div id="admin_container_cursadas">
  <h1 class="title_admin" style="text-align: center; padding: 125px 15px 0px;;">Acompañamiento de Cursada</h1>
  <div class="link_new_theme">
    <p class="link_new_theme"><%= link_to "Nuevo Tema", new_cursada_path, class: "btn btn-warning mb-2" %></p>
    <p class="link_new_theme"><%= link_to "Final", finals_path, class: "btn btn-warning mb-2" %></p>
    <p class="link_new_theme"><%= link_to "Usuarios", users_path, class: "btn btn-warning mb-2" %></p>
  </div>
  <div class="table-responsive">
    <table id="cursada_table" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="pink-background">Título</th>
          <th class="pink-background">Descripción</th>
          <th class="pink-background">Editar</th>
          <th class="pink-background">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <% @cursadas.each do |cursada| %>
          <tr>
            <td><%= link_to cursada.title, cursada_path(cursada) %></td>
            <td><%= cursada.description %></td>
            <td><%= link_to "Editar", edit_cursada_path(cursada), class: "btn btn-success" %></td>
            <td><%= link_to "Eliminar", cursada_path(cursada), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="pag-bar mt-5 pt-5 d-flex justify-content-center">
    <%== pagy_bootstrap_nav(@pagy)%>
  </div>
</div>