<div id="admin_container">
    <br>
    <h1 class="title_admin" style="text-align: center; padding: 125px 15px 0px;;">Acompañamiento de Cursada</h1>
    <br>
        <% @cursadas.each do |cursada| %>
            <div class="card text-center admin_card" >
                <div class="card-body">
                    <h5 class="card-title"><%= link_to cursada.title, producto_cursadas_content_path(cursada) %></h5>
                    <p class="card-text"><%= raw cursada.text %></p>
                    <p class="card-text"><%= cursada.description %></p>
                </div>
            </div>
            <br>
        <% end %>

</div>
<br>