<div id="cursada_container">
  <br>
  <h1 class="title_admin" style="text-align: center; padding: 125px 15px 0px;">Contenido del Acompañamiento de Cursada</h1>
  <br>
  <div class="card text-center cursada_card">
    <div class="card-body">
      <h5 class="card-title"><%= @cursada.title %></h5>
      <p class="card-text"><%= raw @cursada.description %></p>
      <p class="card-text"><%= raw @cursada.text %></p>
    </div>
  </div>
    
  
  <h2  class="cursada_subtitle">Contenido</h2>
  <div class="div_card_container">
    <br />
    <% @cursada.cursada_contents.each do |cursada_contents| %>
      <div class="card text-center div_card_children">
        <div class="card-body">
          <strong>Titulo:</strong>
          <h5 class="card-title"><%= cursada_contents.title %></h5>
          <strong>Texto:</strong>
          <h5 class="card-title"><%= raw cursada_contents.text %></h5>
          <strong>Descripción:</strong>
          <p class="card-text"><%= raw cursada_contents.description %></p>
        </div>
      </div>
    <% end %>
    <br />
  </div>
</div>