<div id="admin_container">
  <h2 class="subtitle">Contenido de la Cursada</h2>
  <br>
  <div class="link_new_theme" style="text-align: center;">
    <p class="link_new_theme"><%= link_to "Cursadas", cursadas_path, class: "btn btn-warning mb-2" %></p>
  </div>  
  <br>
  <div class="card text-center admin_card">
    <div class="card-body">
      <h5 class="card-title"><%= @cursada.title %></h5>
      <p class="card-text"><%= raw @cursada.text %></p>
      <p class="card-text"><%= raw @cursada.description %></p>

      
      <%= link_to "Editar", edit_cursada_path(@cursada), class:"btn btn-success" %>
      <%= link_to "Eliminar", cursada_path(@cursada), data: {
        turbo_method: :delete,
        turbo_confirm: "Estas seguro?"
      }, class:"btn btn-danger" %>
    </div>
  </div>
    
  <h2 class="subtitle">Contenido :</h2>
  <%= render @cursada.cursada_contents %>
  
  <h2 class="subtitle">Agregar Contenido :</h2>
  <%= render 'cursada_contents/form' %>

</div>