<!DOCTYPE html>
<html>
  <head>
    <title>Valen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render partial: 'shared/navbar'%>
    <%= yield %>
    <%= render partial: 'shared/footer'%>
  </body>
</html>
