<div id="admin_final_container">
  <h1 class="title_admin" style="padding: 125px 15px 0px;">Final</h1>
  <div class="link_new_theme">
    <p class="link_new_theme"><%= link_to "Nuevo Tema", new_final_path, class: "btn btn-primary mb-2" %></p>
    <p class="link_new_theme"><%= link_to "Cursadas", cursadas_path, class: "btn btn-primary mb-2" %></p>
    <p class="link_new_theme"><%= link_to "Usuarios", users_path, class: "btn btn-primary mb-2" %></p>
  </div>
  <div class="table-responsive">
    <table id="final_table" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="pink-background">Título</th>
          <th class="pink-background">Descripción</th>
          <th class="pink-background">Editar</th>
          <th class="pink-background">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <% @finals.each do |final| %>
          <tr>
            <td><%= link_to final.title, final_path(final) %></td>
            <td><%= final.description %></td>
            <td><%= link_to "Editar", edit_final_path(final), class: "btn btn-success" %></td>
            <td><%= link_to "Eliminar", final_path(final), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="pag-bar mt-5 pt-5 d-flex justify-content-center">
    <%== pagy_bootstrap_nav(@pagy)%>
  </div>
</div>