<div id="admin_container">
  <br>
  <h1 class="title_admin" style="text-align: center; padding: 125px 15px 0px;;">Curso de Final</h1>
  <br>  
        <% @finals.each do |final| %>
            <div class="card text-center admin_card" >
                <div class="card-body">
                    <h5 class="card-title"><%= link_to final.title, producto_finals_content_path(final) %></h5>
                    <p class="card-text"><%= raw final.text %></p>
                    <p class="card-text"><%= final.description %></p>
                </div>
            </div>
            <br>
        <% end %>

</div>
<br>