<div id="admin_container">
  <h2 class="subtitle">Contenido del Final</h2>
  <br>
  <div class="link_new_theme" style="text-align: center; padding-top: 55px;">
    <p class="link_new_theme"><%= link_to "Final", finals_path, class: "btn btn-warning mb-2" %></p>
  </div> 
  <br>
  <div class="card text-center admin_card">
    <div class="card-body">
      <h5 class="card-title"><%= @final.title %></h5>
      <p class="card-text"><%= raw @final.text %></p>
      <p class="card-text"><%= raw @final.description %></p>

      
      <%= link_to "Editar", edit_final_path(@final), class:"btn btn-success" %>
      <%= link_to "Eliminar", final_path(@final), data: {
        turbo_method: :delete,
        turbo_confirm: "Estas seguro?"
      }, class:"btn btn-danger" %>
    </div>
  </div>
    
  <h2 class="subtitle">Contenido :</h2>
  <%= render @final.final_contents %>
  
  <h2 class="subtitle">Agregar Contenido :</h2>
  <%= render 'final_contents/form' %>
  
</div>