<div id="final_container">
  <br>
  <h1 class="title_admin" style="text-align: center; padding: 125px 15px 0px;;">Contenido del Final</h1>
  <br>
  <div class="card text-center final_card">
    <div class="card-body">
      <h5 class="card-title"><%= @final.title %></h5>
      <p class="card-text"><%= raw @final.description %></p>
      <p class="card-text"><%= raw @final.text %></p>
    </div>
  </div>
    
  
  <h2  class="final_subtitle">Contenido</h2>
  <div class="div_card_container">
    <br />
    <% @final.final_contents.each do |final_contents| %>
      <div class="card text-center div_card_children">
        <div class="card-body">
          <strong>Titulo:</strong>
          <h5 class="card-title"><%= final_contents.title %></h5>
          <strong>Texto:</strong>
          <h5 class="card-title"><%= raw final_contents.text %></h5>
          <strong>Descripción:</strong>
          <p class="card-text"><%= raw final_contents.description %></p>
        </div>
      </div>
    <% end %>
    <br />
  </div>
</div>